@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icons.sass"

body
        font-family: "Ubuntu"
h1, h2, h3, h4, h5, h6 
        
        font-family: "Courgette"

body
        header
                position: relative
                div
                        nav
                                div
                                        ul
                                                border: solid #E5E5E4 1px
                                                border-left: none
                                                border-right: none
                                                li:hover
                                                                background-color: #C42D40
                                                
                        #carouselExampleIndicators
                                        .carousel-indicators
                                                        li
                                                                width: 30px
                                                                height: 30px
                                                                border-radius: 100%
                                                        li:hover
                                                                border: solid #E5E5E4 2px
                                                                padding: 2px
                                                                
                                        
                                                        
                                        .carousel-inner
                                                .row
                                                        .col
                                                                .d-flex
                                                                        h1
                                                                                font-size: 70px
                                                                        h3
                                                                                font-size: 40px
                                                                        button
                                                                                border-radius: 25px
                                                                                background-color: #C42D40
                                                                                border: none
                                                                                a
                                                                                        span
                                                                                                color: #E5E5E4
                                                                
                                                                        button:hover
                                                                                background-color: #E5E5E4
                                                                                a
                                                                                        span
                                                                                                color: black
                                                                        

                                                        
                                                        
                                                        
                                                        
                                                        
                                                
                                                        
                                                        
                                                        

                                                        
                                                                

        .article-1
                background-image: url("../../public/images/main_bg.jpg")
                .container
                        background-color: white
                        border: solid 2px #E5E5E4
                        .row
                                .col-5
                                        border-bottom: dotted #CCCCCC 0.5px
                                        img
                                                border-radius: 50%
                                                border: solid 6px #EFEFEF
                                                height: 130px
                                                width: 130px
                                        .text-danger
                                                background-color: #EFEFEF
                                .col-2
                                        border-right: solid #CCCCCC 1px
                                        border-bottom: solid #CCCCCC 1px
                                        .fas
                                                font-size: 60px
                                                color: #CCCCCC
                                .col-2:hover
                                        border-right: solid #C42D40 8px
                                        
                                        .fas
                                                color: #C42D40
                                                
                                                
        header::before
                background-image: url("../../public/images/banner1.jpg")
                position: absolute
                content: ""
                background-size: cover
                width: 100%
                height: 100%
                filter: brightness(30%)
                .container
                        position: relative
                       

                        
                                                                                        

                        
                        
                       

        
            
                
                
                

        